.card {
  width: 500px;
  height: 200px;
  position: relative;
  perspective: 1000px;
}

.front, .back {
  border: 2px solid #72c;
  margin-right: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: grey;
  position: absolute;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  backface-visibility: hidden;
}

.front {
  background-color: #a66565;
}

.back {
  background-color: #a66565;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.card:hover .front {
  background-color: grey;
  transform: rotateY(180deg);
}
.card:hover .back {transform: rotateY(360deg); background-color: grey;}
